@{
    ViewData["Title"] = "Not Found";
}
@model NotFoundViewModel

<h1>Page Not Found</h1>
@if (Model.ItemNotFound)
{
    @* <p>The item you are looking for could not be found.</p> *@
    <p>@Model.Message</p>
}
